<% attributes.each do |attribute| -%>
<td><%%= <%= attribute.name %> %></td>
<% end -%>

<td>
  <a class="btn btn-small btn-primary" href="#/<%%= id %>">Show</a>
  <a class="btn btn-small btn-warning" href="#/<%%= id %>/edit">Edit</a>
  <a class="btn btn-small btn-danger destroy"  href="#/<%%= id %>/destroy">Destroy</a>
</td>