<dl class="dl-horizontal">
  <% attributes.each do |attribute| -%>
  <dt><%= attribute.human_name %></dt>
  <dd><%%= <%= attribute.name %> %></dd>
  <% end -%>
</dl>


<a href="#/index" class='btn btn-inverse'>Back</a>